.section-one {
  display: block;
  background-color: #1F2937;
  margin: 0;
  padding: 0 200px 150px 200px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  margin-bottom: 90px;
}

.section-one-top {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.section-one-bottom {
  display: flex;
  justify-content: space-between;
}

.section-one-bottom-left-side {
  display: flex;
  flex-direction: column;
  /* flex-direction: column; */
  gap: 3px;
  width: 400px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAf8;
  margin: 0;
  padding: 0;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.header-button {
  color: white;
  background-color: rgb(52, 113, 227);
  border: none;
  width: 20%;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 16px;
}

.section-one-image {
  max-width:100%;
  max-height:100%;
  object-fit: cover;
}