.section-one {
  display: block;
  background-color: #1F2937;
  margin: 0;
  padding: 0 200px 150px 200px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  margin-bottom: 90px;
}

.section-one-top {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.section-one-bottom {
  display: flex;
  justify-content: space-between;
}

.section-one-bottom-left-side {
  display: flex;
  flex-direction: column;
  /* flex-direction: column; */
  gap: 3px;
  width: 400px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAf8;
  margin: 0;
  padding: 0;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.header-button {
  color: white;
  background-color: rgb(52, 113, 227);
  border: none;
  width: 20%;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 16px;
}

.section-one-image {
  max-width:100%;
  max-height:100%;
  object-fit: cover;
}

/* section two css starts here */

.section-two {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  /* margin-left: 250px;
  margin-right: 250px; */
  margin-bottom: 100px;

}

.section-two-header {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937
}

.box-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 50px;
  /* justify-content:space-evenly; */
}

.box {
  display: block; 
  overflow-wrap: break-word;
  border: solid #3882F6;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  border-width: thick;
}

.section-two-text {
  width: 150px;
  display: inline-block;
  text-align: center;
  color: gray;
}

/* section three css starts here */

.section-three {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
}

.quote-text {
  font-size: 36px;
  font-weight: 400;
  color: #1F2937
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 100px;
}

.quote-credit {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.credit {
  font-weight: bold;
  font-size: 24px;
}

/* section four css starts here */

.section-four {
  display: flex;
  justify-content: center;
}

.interior-box {
  display: flex;
  background-color: #3882F6;
  color: white;
  margin: 100px 100px 100px 100px;
  height: 150px;
  width: 1000px;
  justify-content: center;
  align-items: center;
  gap: 150px;
  border-radius: 8px;
}

.section-four-left {
  display: block;
}

.section-four-button {
  color: white;
  background-color: transparent;
  border: solid;
  border-width: 2px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  
}

